POSTGRES_DB=YOUR_DATABASE_NAME
DB_USER=YOUR_USER_NAME
DB_PASSWORD=YOUR_PASSWORD

GOOGLE_CLIENT_ID=YOUR GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR GOOGLE_CLIENT_SECRET

POSTGRES_VERSION=CURRENT VERSION OF POSTGRES THAT YOU ARE USING

FRONTEND_URL = YOUR FRONTEND URL

BITEMENU_VERSION=VERSION_NUMBER(EX-1.0)